/*=============================================
GLOBAL
=============================================*/

*{
	margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
}

.content-fluid{
	position:relative;
	margin:auto;
	width:100%;
	height: auto;

}

.row{
	position:relative;
	margin:auto;
	width:100%;
	height: auto;
	clear:both;
	display:table;
}

[class*="col-"]{
	float:left;
	padding:0px;
}

h1.titulos{
	background: white;
	text-align: center;
	color: #666;
	font-weight: 100;
	position: relative;
	padding: 40px;
}

h1.titulos hr{
	margin:20px;
	border:1px solid #ddd;
}
/*=============================================
CABEZOTE
=============================================*/


header #logotipo {
	padding: 20px;
	text-align: center;
}

header nav{
	position: relative;
	top: 0;
	left: 250px;
}

header nav ul li a{
	display: block;
	background: #fff;
	margin-left: 20%;
	text-align: center;
	color:#000;
	font-size: 20px;
	
}

.letras-slide{
	width: 70%;
	margin: auto;
}

.letras-slide h1{
	color:#000;
	font-family: sans-serif;
	font-size: 90px;

}

.letras-slide p{
	color: #000;
	font-family: sans-serif;
	font-size: 20px;
	padding-top: 10px;
	text-align: left;
}

.content{
	width: 90%;
	margin:  4em auto;
	line-height: 30px;
	font-size: 20px;
	text-align: center;
}

.ancho-letra{
	top:  200px;
	position: absolute;
	width: 50%;
	text-align: center;

}

/*Container people*/


/*=============================================
Slideshow
=============================================*/
#slide{
	position: relative;
	margin: auto;
	width: 100%;
	overflow: hidden;

}
#slide ul{
	position: relative;
	width: 1100%;
	height: auto;
	margin: auto;
	left: 0%;
	clear: both;
	display: table;
	

}

#slide ul li{
	position: relative;
	width:2%;
	float: left;
	margin: 13px;
	left: 45px;
	padding: 20px;	
}

#slide ul li img{
	width: 100%;

}

#slide .flechas{
	position: absolute;
	font-size: 2em;
	color: #333;
	cursor: pointer;
	z-index: 2;

}

#slide #retroceder{
	top: 45%;
	left: 2%;
}

#slide #avanzar{
	top: 45%;
	right: 2%;
}

#slide ul li .textoSlide{
	position: absolute;
	width: 93%;
	bottom: 15px;
	left: 12px;
	text-align: center;
	z-index: 1;
	color: white;
	transition: .5s ease;
	opacity:0;
}

#slide ul li .textoSlide h1{
	font-size: 20px;
	background: rgba(0,0,0,.5);
	padding: 2px 0;
}

#slide ul li .textoSlide h3{
	font-size: 12px;
	background: rgba(0,0,0,.5);
}
 
#slide ul li:hover .textoSlide  {
	opacity: 1;
   }

/**/

#left img{
	position: absolute;
	width: 35%;
	left: 65%;
	height: 180%;
	top: -160px;
	z-index: 0;
	background-size: cover;
	background-repeat: no-repeat;

}

#rigth img{
	position: relative;
	left: 650px;
	z-index: 0;

}

/*Clase a remplazar*/

.black {
	position: absolute;
	left: 50px;
	top: 60px;
	font-size: 25px;
	display: none;	

}

.black a{
	text-decoration: none;
	color: #333;
	font-size:20px;
	font-weight: lighter;
	font-family: helvetica;
	padding: 0 20px;
	display: inline-block;

}

.black a:hover{
	text-decoration: none;
	transition: top .110s;
}

.cool-link::after{
	position: absolute;
	top: 80px;
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background: #000;
	transition: width .3s;
}

.cool-link:hover::after{
	width: 1%;
	transition: width .3s;
}


/*=============================================
		Efecto scroll
=============================================
*/


#scroll article {
	width: 30%;
	height: 40%;
	display: inline-block;
	position: relative;
}

#scroll article aside{
	border: 0.5px solid silver;
	margin: 10px;
	width: 80%;
	left: 100px;
	position: relative;
	background: white;
	height: 400px;
}

#scroll article aside div{
	width: 90%;
	position: absolute;
	top: 80px;
	left: 20px;
	right: 0;
	background: white;
	height: 400px;
	text-align: justify;


}

#scroll article aside h1{
	width: 100%;
	color: #666;
}

#scroll article aside p{
	position: relative;
	font-size: 14px;
	padding: 5px;
	text-align: justify;
}

@media(max-width: 500px){
	
	.logo{
		position: fixed;
		top:0;
		margin-top: 16px;
	}

	nav ul{
		max-height: 0px;
		background: #000;

	}

	nav.black ul{
		background: #000;
		z-index: 10;
	}

	.showing{
		max-height: 20em;
	}

	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding:24px 0;
		text-align: center;
	}

	.menu-icon {
		display: block;
	}

	.footerModule{
		position:relative;
		padding-top:8rem;
		padding-bottom:12rem;
		border-top: 1px solid #ccc;
		
	}

	.footerModule .col {
		padding: 10px;
		background: green;
		color:#f8f6e9}

}

/*=============================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg) - revisamos en portatil o pc
=============================================*/

@media(min-width:1200px){

	.col-lg-12{width:100%;}
	.col-lg-11{width:91.66666667%;}
	.col-lg-10{width:83.33333333%;}
	.col-lg-9{width:75%;}
	.col-lg-8{width:66.66666667%;}
	.col-lg-7{width:58.33333333%;}
	.col-lg-6{width:50%;}
	.col-lg-5{width:41.66666667%;}
	.col-lg-4{width: 33.33333333%;}
	.col-lg-3{width: 25%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-1 {width: 8.33333333%;}
	.col-lg-0{display:none;}

}

	/*Cabezote */

	header ul li a{
		margin: 30% 5px;
		font-size: 14px;
	}

	header #logotipo img{
		width: 100%;
	}


/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/

@media(max-width:1199px) and (min-width:992px){

	.col-md-12{width:100%;}
	.col-md-11{width:91.66666667%;}
	.col-md-10{width:83.33333333%;}
	.col-md-9{width:75%;}
	.col-md-8{width:66.66666667%;}
	.col-md-7{width:58.33333333%;}
	.col-md-6{width:50%;}
	.col-md-5{width:41.66666667%;}
	.col-md-4{width: 33.33333333%;}
	.col-md-3{width: 25%;}
	.col-md-2{width: 16.66666667%;}
	.col-md-1{width: 8.33333333%;}
	.col-md-0{display:none;}

	/*Cabezote */

	header ul li a{
		margin: 30% 5px;
		font-size: 14px;
	}

	header #logotipo img{
		width: 100%;
	}


}
/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/

@media(max-width:991px) and (min-width:768px){

	.col-sm-12{width:100%;}
	.col-sm-11{width:91.66666667%;}
	.col-sm-10{width:83.33333333%;}
	.col-sm-9{width:75%;}
	.col-sm-8{width:66.66666667%;}
	.col-sm-7{width:58.33333333%;}
	.col-sm-6{width:50%;}
	.col-sm-5{width:41.66666667%;}
	.col-sm-4{width: 33.33333333%;}
	.col-sm-3{width: 25%;}
	.col-sm-2{width: 16.66666667%;}
	.col-sm-1{width: 8.33333333%;}
	.col-sm-0{display:none;}

	/*Cabezote */

	header ul li a{
		margin: 28% 2px;
		font-size: 10px;
	}

	header #logotipo img{
		width: 100%;
	}

	#slide ul li .textoSlide h1{
		font-size: 20px;
	}

	#slide ul li .textoSlide h3{
		font-size: 14px;
	}


}

/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/

@media(max-width:767px){

	.col-xs-12{width:100%;}
	.col-xs-11{width:91.66666667%;}
	.col-xs-10{width:83.33333333%;}
	.col-xs-9{width:75%;}
	.col-xs-8{width:66.66666667%;}
	.col-xs-7{width:58.33333333%;}
	.col-xs-6{width:50%;}
	.col-xs-5{width:41.66666667%;}
	.col-xs-4{width: 33.33333333%;}
	.col-xs-3{width: 25%;}
	.col-xs-2{width: 16.66666667%;}
	.col-xs-1{width: 8.33333333%;}
	.col-xs-0{display:none;}

	/*Cabezote */

	header ul li a{
		margin: 0px;
		font-size: 14px;
		border-bottom: 1px solid #444;
	}


	header #logotipo img{
		width: 40%;
	}

	/*slide*/
	#slide ul li .textoSlide{
		display: none;
	}

	#slide #paginacion li{
	font-size: 8px;
	}

	#slide #retroceder{
		top: 40%;
		font-size: 1em;
		left: 2%;
	}

	#slide #avanzar{
		top: 40%;
		font-size: 1em;
		right: 2%;
	}

	h1.titulos{
		background: white;
		text-align: center;
		color: #666;
		font-size: 18px;
	}

	h1.titulos hr{
		margin:10px;
		border:1px solid #ddd;
	}



}

