<h1 class= "row titulos" id="container">Actor</h1>

<div id="slide" class="row">
		<ul id="contain">
			<li *ngFor="let people of containerJson;  let img = index" value="{{img+1}}">
             <img class="efecto" src="http://placehold.it/600x400/CCB03A/fff&text=Image+1" alt="Image 1"  >
				<div class="textoSlide">
					<h1>{{people.name}}</h1>
                    <h3>{{people.gender}}</h3>
                    <h3>{{people.age}}</h3>
                </div>
			</li>
		</ul>
	

        
		<div class= "flechas" id="retroceder"><span class="fa fa-chevron-left"></span></div>
		<div class= "flechas" id="avanzar"><span class="fa fa-chevron-right"></span></div>
	
		
    </div>
    
    
