<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">

     <header id="cabezote">
       
       <div class="black" id="nav">
         <a href="javascript:void(0)" id="close" class="close" onclick="closeNav()"></a>
         <a class="cool-link" href="#Home">Home</a>
         <a class="cool-link" href="#About">About</a>
         <a class="cool-link" href="#Contact">Contact</a>
   
       </div>
   
       <span id="open" class="open" onclick="openNav()">&#9776;</span>
   
       <div class="logo" id="logo">
           LOGO
       </div>
   
     </header>
     
     <!-- Slide-->

     <tag-slide></tag-slide>
   
     <tag-container></tag-container>
   
    <tag-footer></tag-footer>
   </div>
   
   