      
    <div class="row" id="efectoMouse">

        <div class= "ancho-letra"> 	
            <div class="letras-slide">
              <h1 class="animated bounce delay">HELLO</h1>	
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur asperiores, expedita vero omnis aperiam, quasi quam provident neque, veniam est autem adipisci aliquam nobis praesentium cum temporibus? Perferendis, laboriosam doloribus.
              </p>
            </div>
        </div>

          <figure id="left">
              <img class="animated zoomIn" src="assets/img/111.jpg">
          </figure>
          <figure id="rigth">
              <img  class="animated pulse" src="assets/img/4.jpg">	        
          </figure>
          <figure></figure>

      </div>     
